* {
  font-family: Verdana, monospace;
  font-size: 14px;
}

h3 {
  font-size: 16px;
  margin-top: 8px;
  text-transform: uppercase;
}

.label-padding {
  line-height: 30px;
}

table {
  font-family: Verdana, monospace;
  border-spacing: 1px;
  border-collapse: collapse;
  background: white;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
td, th {
  padding-left: 8px;
}

table thead tr {
  height: 60px;
  background: #8da4f8;
  font-size: 14px;
  text-transform: uppercase;
  color: #f9f9f9;
}
table tbody tr {
  height: 48px;
  border-bottom: 1px solid #dad5f1;
  color: #677bc5;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}

label{
  font-family: Verdana, monospace;
  text-transform: uppercase;
  color: #677bc5;

}
input[type = file]{
  font-family: Verdana, monospace;
  border: none;
  cursor: pointer;

}
input[type = text]{
  border-color: #8da4f8;

}
input[type = password]{
  border-color: #8da4f8;

}
a{
  text-transform: uppercase;
  color: #8da4f8;
}
.btn {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 5px;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  line-height: 32px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 120px;
}

.btn:hover {
  background-color: #5e7bde;
}

.btn {
  margin: 15px 0 0 0;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #d5d9d9;
  background-color: #fff;
  padding: 6px 16px;
}

.btn:hover {
  background-color: rgb(137, 150, 232);
}