<!DOCTYPE html>
<html lang="en">
{% block rel %}
    <link rel="stylesheet" href="/static/css/style.css">
{% endblock %}
<head>
    <meta charset="UTF-8">
    <title>Configure mem-cache</title>
</head>
<body>
     <h2>Memcache Setting</h2>
     {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
      <ul class=flashes>
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}

      </ul>
     {% endif %}
     {% endwith %}

    <form action="{{ url_for('set_configure')}}"  enctype="multipart/form-data" method="post">
         <label>Capacity </label>
        <input type="text" name="capacity" required><label>MB</label><br />
        <label>Replacement Policy</label>
      <select name="policy">
          <option value="Random" selected="selected">Random Replacement</option>
          <option value="LRU">Least Recently Used</option>
      </select>


      <input type="submit" value="Send">
    </form>
    <form action="{{ url_for('clear_cache')}}" method="post">
      <input type="submit" value="Clear Cache">
    </form>
      <a href="{{ url_for('main')}}" data-item ="main">Main</a>
</body>
</html>