<!DOCTYPE html>
<html lang="en">
{% block rel %}
    <link rel="stylesheet" href="/static/css/style.css">
{% endblock %}
<head>
    <meta charset="UTF-8">
    <title>Mem-cache current statistics</title>

</head>
<h2>Mem-cache current statistics</h2>
<head>
    <!--Page refresh every 10 minutes--->
  <meta http-equiv="refresh" content="600">
</head>
<table class = "keytable">
<thead>
           <th>Number of Items</th>
           <th>Total size of items (MB)</th>
           <th>Number of Requests</th>
           <th>Hit </th>
           <th>Miss </th>
           <th>Time Stamp</th>


</thead>


       <tr>
           <td>{{ result[0] }} </td>
           <td>{{ "%.2f"|format(result[1]/1024/1024)}} </td>
           <td>{{ result[2] }} </td>
           <td>{{ result[3] }} </td>
           <td>{{ result[4] }} </td>
           <td>{{ result[5] }} </td>
       </tr>

</table>
<body>
<a href="{{ url_for('main')}}" data-item ="main">Main</a>
</body>
</html>