<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Login </title>
        <link rel="stylesheet" href='/static/core-style.css' />
    </head>
    <body></br></br></br></br></br>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
             <div class="header">
                <h3>Welcome, please Log in the system</h3>
             </div></br></br></br>

                <form action="{{ url_for('login') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                    <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox" required/></br></br>
                    <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox" required/></br></br></br>
                    <input type="submit" class="btn" value="Sign In"></br></br>
                </form>

            <p class="bottom">Don't have an account?  <a class="bottom" href="{{ url_for('register_get') }}">Create here</a></p>
    </body>
</html>