<!DOCTYPE html>

{% block rel %}
    <link rel="stylesheet" href="/static/css/main.css">
{% endblock %}

<head>
    <title>Memcache app main page</title>
</head>



<section>
    <div>Welcome, please select your option:</div>
    <nav>
        <ul class="menuItems">
          <li><a href="{{ url_for('upload_search')}}" data-item ="Image">Image</a></li>
          <li><a href="{{ url_for('display_key')}}" data-item ="Key">Key</a></li>
          <li><a href="{{ url_for('config_memcache')}}" data-item ="Configure">Configure</a></li>
          <li><a href="{{ url_for('display_statistics')}}" data-item ="Statistics">Statistics</a></li>
        </ul>
    </nav>
</section>
