<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Register </title>
        <link rel="stylesheet" type="text/css" href='/static/login.css'>
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">

    </head>
    <body></br></br></br></br></br>
             <div class="header">
                <h3>Register an account</h3>
             </div></br></br></br>
            <div class="signup">
                <form action="{{ url_for('register') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                    <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox" required/></br></br>
                    <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox" required/></br></br>
                    <input type="submit" class="btn" value="Register"></br>
                </form>

                 <div class="username_rules">
                    <h4>Username must only contain number and letters</h4>
                 </div>
            <p class="bottom">Already have an account?  <a class="bottom" href="{{ url_for('login_get') }}"> Login here</a></p>
            </div>
    </body>
</html>