<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Gallery</title>
</head>
<body>
{% if (items is defined) and items %}
  <h2>Current Stored Image</h2>
<table class = "Image table">
<thead>
           <th>Key</th>
           <th>Image</th>

</thead>
       {% for item in items %}
       <tr>
           <td>{{ item.key }} </td>
           <td><img src= "data:image/png;base64,{{ item.image }}" alt={{item.image}}  class="image-preview"/></td>
           <td>
               <form action="{{ url_for('upload')}}" method="post">
                <input input type="hidden"  name="key" value={{item.key}}><br><br>
                <input type="file" class="custom-file-input" name="file" value="Select File" required>
                <input type="submit" value="Update">
                <div class="status">{{ status }}</div>
               </form>
           </td>
           <td>
               <form action="{{ url_for('delete_image')}}" method="post">
                <input input type="hidden"  name="key" value={{item.key}}><br><br>
                <input type="submit" value="Delete">
                <div class="status">{{ status }}</div>
               </form>
           </td>
       </tr>
       {% endfor %}
</table>
{% else %}
        <h3>There is no image.</h3>

{% endif %}
<a href="{{ url_for('profile')}}" data-item ="main">Go back to profile</a>
</body>
</html>