<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Gallery</title>
</head>
<body>
{% if (items is defined) and items %}
  <h2>Current Stored Image</h2>
<table class = "Image table">
<thead>
           <th>Key</th>
           <th>Image</th>

</thead>
       {% for item in items %}
       <tr>
           <td>{{ item.key }} </td>
           <td>{{ item.image }} </td>
           <td>
               <form action="{{ url_for('delete_image')}}" method="post">
                <input input type="hidden"  name="username" value={{username}}><br><br>
                <input type="submit" value="Delete">
                <div class="status">{{ status }}</div>
               </form>
           </td>
       </tr>
       {% endfor %}
</table>
{% else %}
        <h3>There is no image.</h3>

{% endif %}
<a href="{{ url_for('main')}}" data-item ="main">Main</a>
</body>
</html>